<nav class="white-bg top-panel">

  <img class="client-logo ms-2"
       src="./assets/clientLogo.png">

  <div class="top-icons ms-auto">
    <a type="button" (click)="showHomepage()"
       tooltipClass="tooltipclass"
       placement="bottom"
       ngbTooltip="Home"
       [openDelay]="1000">
      <img class="icons" src="./assets/iconsTopbar2px/home-03.svg" addFilter />
    </a>

    <a type="button" href="#"
       tooltipClass="tooltipclass"
       placement="bottom"
       ngbTooltip="Change Company"
       [openDelay]="1000">
      <img class="icons" src="./assets/iconsTopbar2px/building07.svg" addFilter />
    </a>

    <a type="button"
       tooltipClass="tooltipclass"
       placement="bottom"
       ngbTooltip="Switch to ESS"
       [openDelay]="1000">
      <img class="icons mt-2" src="./assets/iconsTopbar2px/ESS.svg" addFilter />
    </a>

    <a type="button" routerLink="/login"
       tooltipClass="tooltipclass"
       placement="bottom"
       ngbTooltip="Logout"
       [openDelay]="1000">
      <img class="icons" src="./assets/iconsTopbar2px/arrowCircleBrokenRight01.svg" addFilter />
    </a>

    <div class="btn-group">
      <a class="nav-link dropdown-toggle pe-3" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="pe-1 ps-1 profile-pic" src="./assets/profile.png" />
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <a class="dropdown-item" href="#"
             data-bs-toggle="modal" data-bs-target="#exampleModalPassword">
            Change Password
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"
             data-bs-toggle="modal" data-bs-target="#exampleModalLanguage">
            Change Language
          </a>
        </li>
        <li>
          <a class="dropdown-item" type="button"
             data-bs-toggle="modal" data-bs-target="#exampleModalColor">
            Change Theme
          </a>
        </li>
      </ul>

  </div>

    <!--  <div class="progress">
      <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" style="width: 75%"></div>
    </div>-->

  </div>
</nav>


