.navbar{
    padding-top:0;
    padding-bottom:0
}
li {
  list-style-type: none;
}

.icons, .profile {
  padding: 0px;
  margin: 0px 20px;
}

.top-panel {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end
}

.dropdown-item {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 1px;
  /*  font-size:18px*/
}

::ng-deep .popover {
  color: black;
  background-color: white;
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 1px;
  /*  border: 1px solid var(--color04);*/
  border-radius: 10px;
}

/*::ng-deep .popover .arrow::after {
  border-top-color: var(--color04);
}*/


/*tooltip*/
::ng-deep .tooltipclass .tooltip-inner {
  color: black;
  background-color: white;
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 1px;
  border: 1px solid #bebebe;
  border-radius: 10px;
  padding: 5px 10px;
}

::ng-deep .tooltipclass .tooltip-arrow::before {
  border-bottom-color: #bebebe;
}

.spinner-border {
  width: 70px;
  height: 70px;
  border-width: 10px;
  position: fixed;
  right: 50px;
  color: var(--color02);
}

button {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  font-size: 15px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.alerts {
  position: fixed;
  right: 459px;
  top: 24px;
  background-color: #ff0000;
}

.notification {
  position: fixed;
  right: 537px;
  top: 24px;
  background-color: #ffa200;
}

.information {
  position: fixed;
  right: 621px;
  top: 24px;
  background-color: var(--color01);
}
