<div class="container-fluid p-0 footer">
  <div class="footer-background"></div>
  <h6 class="company">Powered by: HRiQ | Admin Office SG</h6>
  <h6 class="timestamp">Timestamp: 17/02/2023 10:10 AM | Country: SG</h6>


  <div class="quick-links">
    <strong>
      Quick Links
      <li *ngFor="let quicklink of quicklinks">
        <a href="#">{{quicklink.link}}</a>
      </li>
    </strong>
  </div>

  <div class="btn-group dropup">
    <a type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <img class="icons" src="./assets/iconsTopbar2px/pin02.svg" />
    </a>
    <ul class="dropdown-menu">
      <!--<h6 class="dropdown-header">Quick Links</h6>-->
      <li *ngFor="let quicklink of quicklinks">
        <a href="#">{{quicklink.link}}</a>
      </li>
      <!--     <a class="dropdown-item" href="#">Page link 01</a>
       <a class="dropdown-item" href="#">Page link 02</a>
       <a class="dropdown-item" href="#">Page link 03</a>-->
    </ul>
  </div>

  <div class="quick-links-background border-top"></div>
</div>
