h6 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--colorGrey);
  margin:3px;

}
.timestamp{
    position: fixed;
    bottom:0;
    right: 0;
    padding-right:10px
}
.company {
  position: fixed;
  bottom: 0;
  padding-left: 10px
}
.footer{
    background-color:red
}
