<div class="container-fluid p-0 footer">
  <div class="footer-background"></div>
  <h6 class="company">Powered by: HRiQ | Admin Office SG</h6>
  <h6 class="timestamp">Timestamp: 17/02/2023 10:10 AM | Country: SG</h6>

  <div class="quick-links">
    {{qData}}
    <li *ngFor="let quicklink of quicklinks.slice(0, maxquicklinks)">
      <a href="#" addFilter>{{quicklink}} </a>

    </li>
    Quick Links
  </div>

  <!--    <div class="btn-group dropup">
        <a type="button" data-bs-toggle="dropdown" aria-expanded="false">
        </a>
        <ul class="dropdown-menu">
          <h6 class="dropdown-header">Quick Links</h6> hide
          <li *ngFor="let quicklink of quicklinks">
            <a href="#">{{quicklink}}</a>
          </li>
        </ul>
      </div>-->

  <div class="quick-links-background border-top"></div>
</div>
