h6 {
  font-size: 0.90rem;
  color: var(--colorGrey);
  margin: 3px;
}

.timestamp {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 4px
}

.company {
  position: fixed;
  bottom: 0;
  padding-left: 4px
}

/*.footer-background {
  width: 100%;
  height: 20px;
  background-color: red;
  position: fixed;
  bottom: 0;
}*/

.quick-links {
  position: fixed;
  bottom: 19px;
  padding-left: 8px;
  right:8px;
/*  width:1830px*/
}
.links {
  text-decoration: underline
}

.company, .timestamp, .quick-links{
  z-index: 2
}

.quick-links-background {
  width: 100%;
  height: 45px;
  background-color: white;
  position: fixed;
  bottom: 0px;
/*  z-index:-1*/
}
li {
  display: inline-block;
  margin: 0 10px
}
a{
    text-decoration:none;
    color: var(--color01);
    padding-left:10px
}
.dropup {
  position: fixed;
  bottom: 20px;
  right:-10px
}
.icons{
max-width:50%
}






/*.quicklink-row.overflow .quicklink:nth-child(n+{{maxquicklinks + 1}}) {
  display: none;
}

.quicklink-row.overflow .quicklink-dropdown {
  display: block;
}*/
