.position {
    position:fixed;
    padding-left: 17px
}
/*.panel-background {
 
  display: flex;
  flex-direction: column;
  text-align: center;
 justify-content: center;
}*/

.module-icons {
  padding-bottom: 20px;
}
.moduleLegend:hover{
    color: black
}
.moduleIcons {
  width: 29px;
}
.moduleLegend {
  color: black;
}

a {
  text-decoration: none
}



/*Modal pages*/
/*Modal pages*/
/*Modal pages*/
.modal-menu {
  --bs-modal-width: 80%;
}
.modal-color {
  --bs-modal-width: 40%;
}

.modal-menu-body {
  height: 600px;
}
.modal-color-body {
  height: 400px;
}

.modal-header, .modal-footer {
  border: none;
}


.dot {
  color: var(--color01);
}

button.header {
  color: var(--color01);
  font-weight: 600;
}

.hide-button {
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  padding: 3.5px 15px;
  border: none
}
button:hover, .isSelected {
  color: var(--color01);
  background-color: var(--color03)
}


.hide {
  display: none
}

.color-scheme-img {
  width: 180px
}
.banner-theme {
  padding-top: 2px;
  padding-bottom: 2px;
  height: 30px;
    justify-content: center;
}
h5 {
  font-weight: normal;
  font-size: 1.1rem;
}

.line-box{
    height:5px;
    background-color: black;
    width: 100%;
    position:relative;
    top:55px;
/*    z-index:-2*/
}

.body-align {
  padding: 0px 20px
}


.shift-body-up {
  padding-top: 0;
}
.language-input{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom:0px;
  padding-top:10px
}
.button-ms{
    margin:30px;

}
h5 {
  font-size: 1.2rem;
  padding-left: 18px
}
/*.svg icons color-filter themes in encapsulation*/



