<div class="container-fluid p-0">
  <div class="panel-background">
    <a (click)="showHomepage()" type="button">
      <img class="hriqLogo" src="./assets/hriqLogo.png">
    </a>

    <div class="panelIcons ">
      <div class="icons">
        <a href="#">
          <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/user02.svg" /></div>
          <div class="moduleLegend">HR</div>
        </a>
      </div>

      <div class="icons">
        <a href="#">
          <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/calendarCheck01.svg" /></div>
          <div class="moduleLegend">Leave</div>
        </a>
      </div>

      <div class="icons">
        <a href="#">
          <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/currencyDollar02.svg" /></div>
          <div class="moduleLegend">Payroll</div>
        </a>
      </div>

      <div class="icons">
        <a href="#">
          <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/coinsHand.svg" /></div>
          <div class="moduleLegend">Claims</div>
        </a>
      </div>

      <div class="icons">
        <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModalTime">
          <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/userLeft01.svg" /></div>
          <div class="moduleLegend">Time</div>
        </a>
      </div>

      <div class="icons">
        <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/graduationHat02.svg" /></div>
          <div class="moduleLegend">Learning</div>
        </a>
      </div>

      <div class="icons">
        <a href="#">
          <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/edit05.svg" /></div>
          <div class="moduleLegend">Appraisal</div>
        </a>
      </div>

      <div class="icons">
        <a href="#">
          <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/userCircle.svg" /></div>
          <div class="moduleLegend">Recruit</div>
        </a>
      </div>

      <div class="icons">
        <a href="#">
          <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/key01.svg" /></div>
          <div class="moduleLegend">Security</div>
        </a>
      </div>
    </div>
  </div>


  <app-menu></app-menu>
  <!--            <button (click)="showSetting()">BUTTON</button>
              <router-outlet></router-outlet>-->

</div>
