<div class="container-fluid p-0">
  <div class="panel-background">
    <a routerLink="/dashboard">
    <img class="hriqLogo" src="./assets/hriqLogo.png">
    </a>

    <div class="panelIcons">
      <a href="#">
        <div class="icons">
          <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/user02.svg" /></div>
          <div class="moduleLegend">HR</div>
        </div>
      </a>

      <a href="#">
        <div class="icons">
          <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/calendarCheck01.svg" /></div>
          <div class="moduleLegend">Leave</div>
        </div>
      </a>

      <a href="#">
        <div class="icons">
          <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/currencyDollar02.svg" /></div>
          <div class="moduleLegend">Payroll</div>
        </div>
      </a>

      <a href="#">
        <div class="icons">
          <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/coinsHand.svg" /></div>
          <div class="moduleLegend">Claims</div>
        </div>
      </a>

            <a href="#">
              <div class="icons">
                <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/userLeft01.svg" /></div>
                <div class="moduleLegend">Time</div>
              </div>
            </a>

            <a routerLink="/learning-menu">
              <div class="icons">
                <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/graduationHat02.svg" /></div>
                <div class="moduleLegend">Learning</div>
              </div>
            </a>

            <a href="#">
              <div class="icons">
                <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/edit05.svg" /></div>
                <div class="moduleLegend">Appraisal</div>
              </div>
            </a>

            <a href="#">
              <div class="icons">
                <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/userCircle.svg" /></div>
                <div class="moduleLegend">Recruit</div>
              </div>
            </a>

            <a href="#">
              <div class="icons">
                <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/key01.svg" /></div>
                <div class="moduleLegend">Security</div>
              </div>
            </a>
    </div>
  </div>


</div>
