<!--Left module panel-->
<div class="container-fluid p-0">
  <div class="panel-background">
    <a (click)="showHomepage()" type="button">
      <img class="hriqLogo" src="./assets/hriqLogo.png">
    </a>

    <div class="panelIcons ">
      <div class="module-icons">
        <a href="#">
          <div [ngClass]="{
           'blue-filter': runTheme==='Blue',
           'green-filter': runTheme==='Green',
           'red-filter': runTheme==='Red',
           'hydrangea-filter': runTheme==='Hydrangea',
           'sakura-filter': runTheme==='Sakura',
           'lavender-filter': runTheme==='Lavender',
           'mediterranean-filter': runTheme==='Mediterranean',
           'industrial-filter': runTheme==='Industrial',
           'minimalist-filter': runTheme==='Minimalist',
           'bohemian-filter': runTheme==='Bohemian',
           'forest-filter': runTheme==='Forest',
           'beach-filter': runTheme==='Beach',
           'sea-filter': runTheme==='Sea',
           'spring-filter': runTheme==='Spring',
           'winter-filter': runTheme==='Winter',
           'summer-filter': runTheme==='Summer',
           'autumn-filter': runTheme==='Autumn'}">
            <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/user02.svg"/></div>
          </div>
          <div class="moduleLegend">HR</div>
        </a>
      </div>

      <div class="module-icons">
        <a href="#">
          <div [ngClass]="{
           'blue-filter': runTheme==='Blue',
           'green-filter': runTheme==='Green',
           'red-filter': runTheme==='Red',
           'hydrangea-filter': runTheme==='Hydrangea',
           'sakura-filter': runTheme==='Sakura',
           'lavender-filter': runTheme==='Lavender',
           'mediterranean-filter': runTheme==='Mediterranean',
           'industrial-filter': runTheme==='Industrial',
           'minimalist-filter': runTheme==='Minimalist',
           'bohemian-filter': runTheme==='Bohemian',
           'forest-filter': runTheme==='Forest',
           'beach-filter': runTheme==='Beach',
           'sea-filter': runTheme==='Sea',
           'spring-filter': runTheme==='Spring',
           'winter-filter': runTheme==='Winter',
           'summer-filter': runTheme==='Summer',
           'autumn-filter': runTheme==='Autumn'}">
            <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/calendarCheck01.svg" /></div>
          </div>
          <div class="moduleLegend">Leave</div>
        </a>
      </div>

      <div class="module-icons">
        <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModalColor">
          <div [ngClass]="{
           'blue-filter': runTheme==='Blue',
           'green-filter': runTheme==='Green',
           'red-filter': runTheme==='Red',
           'hydrangea-filter': runTheme==='Hydrangea',
           'sakura-filter': runTheme==='Sakura',
           'lavender-filter': runTheme==='Lavender',
           'mediterranean-filter': runTheme==='Mediterranean',
           'industrial-filter': runTheme==='Industrial',
           'minimalist-filter': runTheme==='Minimalist',
           'bohemian-filter': runTheme==='Bohemian',
           'forest-filter': runTheme==='Forest',
           'beach-filter': runTheme==='Beach',
           'sea-filter': runTheme==='Sea',
           'spring-filter': runTheme==='Spring',
           'winter-filter': runTheme==='Winter',
           'summer-filter': runTheme==='Summer',
           'autumn-filter': runTheme==='Autumn' }">
            <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/currencyDollar02.svg" /></div>
          </div>
          <div class="moduleLegend">Payroll</div>
        </a>
      </div>

      <div class="module-icons">
        <a href="#">
          <div [ngClass]="{
           'blue-filter': runTheme==='Blue',
           'green-filter': runTheme==='Green',
           'red-filter': runTheme==='Red',
           'hydrangea-filter': runTheme==='Hydrangea',
           'sakura-filter': runTheme==='Sakura',
           'lavender-filter': runTheme==='Lavender',
           'mediterranean-filter': runTheme==='Mediterranean',
           'industrial-filter': runTheme==='Industrial',
           'minimalist-filter': runTheme==='Minimalist',
           'bohemian-filter': runTheme==='Bohemian',
           'forest-filter': runTheme==='Forest',
           'beach-filter': runTheme==='Beach',
           'sea-filter': runTheme==='Sea',
           'spring-filter': runTheme==='Spring',
           'winter-filter': runTheme==='Winter',
           'summer-filter': runTheme==='Summer',
           'autumn-filter': runTheme==='Autumn'}">
            <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/coinsHand.svg" /></div>
          </div>
          <div class="moduleLegend">Claims</div>
        </a>
      </div>

      <div class="module-icons">
        <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModalTime">
          <div [ngClass]="{
           'blue-filter': runTheme==='Blue',
           'green-filter': runTheme==='Green',
           'red-filter': runTheme==='Red',
           'hydrangea-filter': runTheme==='Hydrangea',
           'sakura-filter': runTheme==='Sakura',
           'lavender-filter': runTheme==='Lavender',
           'mediterranean-filter': runTheme==='Mediterranean',
           'industrial-filter': runTheme==='Industrial',
           'minimalist-filter': runTheme==='Minimalist',
           'bohemian-filter': runTheme==='Bohemian',
           'forest-filter': runTheme==='Forest',
           'beach-filter': runTheme==='Beach',
           'sea-filter': runTheme==='Sea',
           'spring-filter': runTheme==='Spring',
           'winter-filter': runTheme==='Winter',
           'summer-filter': runTheme==='Summer',
           'autumn-filter': runTheme==='Autumn'}">
            <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/userLeft01.svg" /></div>
          </div>
          <div class="moduleLegend">Time</div>
        </a>
      </div>

      <div class="module-icons">
        <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div [ngClass]="{
           'blue-filter': runTheme==='Blue',
           'green-filter': runTheme==='Green',
           'red-filter': runTheme==='Red',
           'hydrangea-filter': runTheme==='Hydrangea',
           'sakura-filter': runTheme==='Sakura',
           'lavender-filter': runTheme==='Lavender',
           'mediterranean-filter': runTheme==='Mediterranean',
           'industrial-filter': runTheme==='Industrial',
           'minimalist-filter': runTheme==='Minimalist',
           'bohemian-filter': runTheme==='Bohemian',
           'forest-filter': runTheme==='Forest',
           'beach-filter': runTheme==='Beach',
           'sea-filter': runTheme==='Sea',
           'spring-filter': runTheme==='Spring',
           'winter-filter': runTheme==='Winter',
           'summer-filter': runTheme==='Summer',
           'autumn-filter': runTheme==='Autumn' }">
            <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/graduationHat02.svg" /></div>
          </div>
          <div class="moduleLegend">Learning</div>
        </a>
      </div>

      <div class="module-icons">
        <a href="#">
          <div [ngClass]="{
           'blue-filter': runTheme==='Blue',
           'green-filter': runTheme==='Green',
           'red-filter': runTheme==='Red',
           'hydrangea-filter': runTheme==='Hydrangea',
           'sakura-filter': runTheme==='Sakura',
           'lavender-filter': runTheme==='Lavender',
           'mediterranean-filter': runTheme==='Mediterranean',
           'industrial-filter': runTheme==='Industrial',
           'minimalist-filter': runTheme==='Minimalist',
           'bohemian-filter': runTheme==='Bohemian',
           'forest-filter': runTheme==='Forest',
           'beach-filter': runTheme==='Beach',
           'sea-filter': runTheme==='Sea',
           'spring-filter': runTheme==='Spring',
           'winter-filter': runTheme==='Winter',
           'summer-filter': runTheme==='Summer',
           'autumn-filter': runTheme==='Autumn'}">
            <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/edit05.svg" /></div>
          </div>
          <div class="moduleLegend">Appraisal</div>
        </a>
      </div>

      <div class="module-icons">
        <a href="#">
          <div [ngClass]="{
           'blue-filter': runTheme==='Blue',
           'green-filter': runTheme==='Green',
           'red-filter': runTheme==='Red',
           'hydrangea-filter': runTheme==='Hydrangea',
           'sakura-filter': runTheme==='Sakura',
           'lavender-filter': runTheme==='Lavender',
           'mediterranean-filter': runTheme==='Mediterranean',
           'industrial-filter': runTheme==='Industrial',
           'minimalist-filter': runTheme==='Minimalist',
           'bohemian-filter': runTheme==='Bohemian',
           'forest-filter': runTheme==='Forest',
           'beach-filter': runTheme==='Beach',
           'sea-filter': runTheme==='Sea',
           'spring-filter': runTheme==='Spring',
           'winter-filter': runTheme==='Winter',
           'summer-filter': runTheme==='Summer',
           'autumn-filter': runTheme==='Autumn' }">
            <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/userCircle.svg" /></div>
          </div>
          <div class="moduleLegend">Recruit</div>
        </a>
      </div>

      <div class="module-icons">
        <a href="#">
          <div [ngClass]="{
           'blue-filter': runTheme==='Blue',
           'green-filter': runTheme==='Green',
           'red-filter': runTheme==='Red',
           'hydrangea-filter': runTheme==='Hydrangea',
           'sakura-filter': runTheme==='Sakura',
           'lavender-filter': runTheme==='Lavender',
           'mediterranean-filter': runTheme==='Mediterranean',
           'industrial-filter': runTheme==='Industrial',
           'minimalist-filter': runTheme==='Minimalist',
           'bohemian-filter': runTheme==='Bohemian',
           'forest-filter': runTheme==='Forest',
           'beach-filter': runTheme==='Beach',
           'sea-filter': runTheme==='Sea',
           'spring-filter': runTheme==='Spring',
           'winter-filter': runTheme==='Winter',
           'summer-filter': runTheme==='Summer',
           'autumn-filter': runTheme==='Autumn' }">
            <div><img class="moduleIcons" src="./assets/iconsModulePanel2px/key01.svg" /></div>
          </div>
          <div class="moduleLegend">Security</div>
        </a>
      </div>
    </div>
  </div>


  <!--Modal-->
  <!--Modal-->
  <!--Modal-->
  <!--Learning Menu Modal Page-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="d-flex justify-content-center">
          <div [ngClass]="{
           'blue-filter04': runTheme==='Blue',
           'green-filter04': runTheme==='Green',
           'red-filter04': runTheme==='Red',
           'hydrangea-filter04': runTheme==='Hydrangea',
           'sakura-filter04': runTheme==='Sakura',
           'lavender-filter04': runTheme==='Lavender',
           'mediterranean-filter04': runTheme==='Mediterranean',
           'industrial-filter04': runTheme==='Industrial',
           'minimalist-filter04': runTheme==='Minimalist',
           'bohemian-filter04': runTheme==='Bohemian',
           'forest-filter04': runTheme==='Forest',
           'beach-filter04': runTheme==='Beach',
           'sea-filter04': runTheme==='Sea',
           'spring-filter04': runTheme==='Spring',
           'winter-filter04': runTheme==='Winter',
           'summer-filter04': runTheme==='Summer',
           'autumn-filter04': runTheme==='Autumn' }">
            <img src="./assets/iconsMenu/learningSetting.png" />
          </div>
        </div>
        <div class="modal-body">
          <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">LEARNING {{menu}} SETTING</h1>
          <h6 class="text-center">
            <button (click)="showLearningTransaction()"
                    [class.isSelected]="!hideLearningTransaction"
                    class="header">
              Transactions
            </button>
            <span class="dot"> • </span>
            <button (click)="showLearningReport()"
                    [class.isSelected]="!hideLearningReport"
                    class="header">
              Reports
            </button>
            <span class="dot"> • </span>
            <button (click)="showLearningSetting()"
                    [class.isSelected]="!hideLearningSetting"
                    class="header">
              System Settings
            </button>

            <!--line-->
            <div [ngClass]="{
           'blue-filter': runTheme==='Blue',
           'green-filter': runTheme==='Green',
           'red-filter': runTheme==='Red',
           'hydrangea-filter': runTheme==='Hydrangea',
           'sakura-filter': runTheme==='Sakura',
           'lavender-filter': runTheme==='Lavender',
           'mediterranean-filter': runTheme==='Mediterranean',
           'industrial-filter': runTheme==='Industrial',
           'minimalist-filter': runTheme==='Minimalist',
           'bohemian-filter': runTheme==='Bohemian',
           'forest-filter': runTheme==='Forest',
           'beach-filter': runTheme==='Beach',
           'sea-filter': runTheme==='Sea',
           'spring-filter': runTheme==='Spring',
           'winter-filter': runTheme==='Winter',
           'summer-filter': runTheme==='Summer',
           'autumn-filter': runTheme==='Autumn' }">
              <div class="line-box"></div>
            </div>
            <br />

            <!-- children routes-->
            <learning-transaction [class.hide]="hideLearningTransaction"></learning-transaction>
            <app-report [class.hide]="hideLearningReport"></app-report>
            <app-setting [class.hide]="hideLearningSetting"></app-setting>
           <!-- [parentData]="runTheme"-->
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Time Menu Modal Page-->
<div class="modal fade" id="exampleModalTime" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="d-flex justify-content-center">
        <div [ngClass]="{
           'blue-filter04': runTheme==='Blue',
           'green-filter04': runTheme==='Green',
           'red-filter04': runTheme==='Red',
           'hydrangea-filter04': runTheme==='Hydrangea',
           'sakura-filter04': runTheme==='Sakura',
           'lavender-filter04': runTheme==='Lavender',
           'mediterranean-filter04': runTheme==='Mediterranean',
           'industrial-filter04': runTheme==='Industrial',
           'minimalist-filter04': runTheme==='Minimalist',
           'bohemian-filter04': runTheme==='Bohemian',
           'forest-filter04': runTheme==='Forest',
           'beach-filter04': runTheme==='Beach',
           'sea-filter04': runTheme==='Sea',
           'spring-filter04': runTheme==='Spring',
           'winter-filter04': runTheme==='Winter',
           'summer-filter04': runTheme==='Summer',
           'autumn-filter04': runTheme==='Autumn' }">
          <img src="./assets/iconsMenu/learningSetting.png" />
        </div>
      </div>
      <div class="modal-body">
        <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">TIME {{menu}} SETTING</h1>
        <h6 class="text-center">
          <button (click)="showTimeTransaction()"
                  [class.isSelected]="!hideTimeTransaction"
                  class="header">
            Transactions
          </button>
          <span class="dot"> • </span>
          <button (click)="showTimeExport()"
                  [class.isSelected]="!hideTimeExport"
                  class="header">
            Export
          </button>
          <span class="dot"> • </span>
          <button (click)="showTimeAttendance()"
                  [class.isSelected]="!hideTimeAttendance"
                  class="header">
            Attendance
          </button>
          <span class="dot"> • </span>
          <button (click)="showTimeSetting()"
                  [class.isSelected]="!hideTimeSetting"
                  class="header">
            System Settings
          </button>

          <!--line-->
          <div [ngClass]="{
           'blue-filter': runTheme==='Blue',
           'green-filter': runTheme==='Green',
           'red-filter': runTheme==='Red',
           'hydrangea-filter': runTheme==='Hydrangea',
           'sakura-filter': runTheme==='Sakura',
           'lavender-filter': runTheme==='Lavender',
           'mediterranean-filter': runTheme==='Mediterranean',
           'industrial-filter': runTheme==='Industrial',
           'minimalist-filter': runTheme==='Minimalist',
           'bohemian-filter': runTheme==='Bohemian',
           'forest-filter': runTheme==='Forest',
           'beach-filter': runTheme==='Beach',
           'sea-filter': runTheme==='Sea',
           'spring-filter': runTheme==='Spring',
           'winter-filter': runTheme==='Winter',
           'summer-filter': runTheme==='Summer',
           'autumn-filter': runTheme==='Autumn' }">
            <div class="line-box"></div>
          </div>
          <br />

          <!-- children routes-->
          <learning-transaction [class.hide]="hideTimeTransaction"></learning-transaction>
          <app-report [class.hide]="hideTimeExport"></app-report>
          <app-report [class.hide]="hideTimeAttendance"></app-report>
          <time-setting [class.hide]="hideTimeSetting"></time-setting>
        </h6>
      </div>
    </div>
  </div>
</div>

<!--Password Modal Page-->
<div class="modal fade" id="exampleModalPassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header ">
        <h1 class="modal-title w-100 ps-3 pt-4 pb-2">Change Password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body shift-body-up">
        <div class="body-align">
          <p class="form-text">Your password must be at least 6 characters and cannot contain spaces. Make sure to include at least 1 number, 1 special character and 1 uppercase alphabet.</p>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="Old Password">
            <label for="floatingInput">Old Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="New Password">
            <label for="floatingInput">New Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="Confirm New Password">
            <label for="floatingInput">Confirm New Password</label>
          </div>
          <button class="button-03" type="submit">Update Password</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="modal fade" id="exampleModalPassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header ">
        <h1 class="modal-title w-100 ps-3 pt-4 pb-2">Change Password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body shift-body-up">
        <div class="body-align">
          <p class="form-text">Your password must be at least 6 characters and cannot contain spaces. Make sure to include at least 1 number, 1 special character and 1 uppercase alphabet.</p>
          <form class="mb-3">
            <label class="form-label"><strong>Old Password</strong></label>
            <input class="form-control" type="password" />
          </form>
          <form class="mb-3">
            <label class="form-label"><strong>New Password</strong></label>
            <input class="form-control" type="password" />
          </form>
          <form class="mb-3">
            <label class="form-label"><strong>Confirm New Password</strong></label>
            <input class="form-control" type="password" />
          </form>
          <button class="button-03" type="submit">Update Password</button>
        </div>
      </div>
    </div>
  </div>
</div>-->

<!--Language Modal Page-->
<div class="modal fade" id="exampleModalLanguage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header shift-body-up">
        <h1 class="modal-title w-100 ps-3 pt-4 pb-2">Input and Select your Default Language</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <kendo-autocomplete [data]="languageSelect" [size]="selectedSize">
          </kendo-autocomplete>
        </div>

        <div class="form-floating">
          <select class="form-select mb-3" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Select from list</option>
            <option value="1">English</option>
            <option value="2">Chinese</option>
            <option value="3">Malay</option>
            <option value="4">Spanish</option>
          </select>
          <label for="floatingSelect">Your default language</label>
        </div>


        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          <kendo-autocomplete [data]="languageSelect" [size]="selectedSize"></kendo-autocomplete>
          <label for="floatingTextarea2">Comments</label>
        </div>

        <form>
          <div class="form-group">
            <label for="txtName">Product name:</label>
            <input class="form-control" id="txtName" type="text" placeholder="Name of the product" />
          </div>
          </form>>

          <button class="button-03" type="submit">Update Language</button>
      </div>
    </div>
  </div>
</div>

<!--Color Scheme Modal Page-->
<div class="modal fade" id="exampleModalColor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header ">
        <h1 class="modal-title w-100 ps-3 pt-4 pb-2">Choose your Color Scheme</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body shift-body-up">
        <div class="row">
          <div class="col-6">
            <div>
              <h5 class="top-banner dark-banner banner-title-01 pb-1">
                Primary Theme Series
              </h5>
              <div class="row pt-2 pb-4">
                <div class="col-4">
                  <button (click)="setBlueData()">
                    <h6>Blue</h6>
                    <img class="color-scheme-img" src="././assets/blue.jpg" />
                  </button>
                </div>
                <div class="col-4">
                  <button (click)="setGreenData()">
                    <h6>Green</h6>
                    <img class="color-scheme-img" src="././assets/green.jpg" />
                  </button>
                </div>
                <div class="col-4">
                  <button (click)="setRedData()">
                    <h6>Red</h6>
                    <img class="color-scheme-img" src="././assets/red.jpg" />
                  </button>
                </div>
              </div>
            </div>

            <div>
              <h5 class="top-banner dark-banner banner-title-01 pb-1">
                Flower Theme Series
              </h5>
              <div class="row pt-2 pb-4">
                <div class="col-4">
                  <button (click)="setHydrangeaData()">
                    <h6>Hydrangea</h6>
                    <img class="color-scheme-img" src="././assets/hydrangea.jpg" />
                  </button>
                </div>
                <div class="col-4">
                  <button (click)="setSakuraData()">
                    <h6>Sakura</h6>
                    <img class="color-scheme-img" src="././assets/sakura.jpg" />
                  </button>
                </div>
                <div class="col-4">
                  <button (click)="setLavenderData()">
                    <h6>Lavender</h6>
                    <img class="color-scheme-img" src="././assets/lavender.jpg" />
                  </button>
                </div>
              </div>
            </div>

            <div>
              <h5 class="top-banner dark-banner banner-title-01 pb-1">
                Style Theme Series
              </h5>
              <div class="row pt-2 pb-4">
                <div class="col-4">
                  <button (click)="setMediterraneanData()">
                    <h6>Mediterranean</h6>
                    <img class="color-scheme-img" src="././assets/mediterranean.jpg" />
                  </button>
                  <button (click)="setIndustrialData()">
                    <h6>Industrial</h6>
                    <img class="color-scheme-img" src="././assets/industrial.jpg" />
                  </button>
                </div>
                <div class="col-4">
                  <button (click)="setMinimalistData()">
                    <h6>Minimalist</h6>
                    <img class="color-scheme-img" src="././assets/minimalist.jpg" />
                  </button>
                </div>
                <div class="col-4">
                  <button (click)="setBohemianData()">
                    <h6>Bohemian</h6>
                    <img class="color-scheme-img" src="././assets/bohemian.jpg" />
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div>
              <h5 class="top-banner dark-banner banner-title-01 pb-1">
                Nature Theme Series
              </h5>
              <div class="row pt-2 pb-4">
                <div class="col-4">
                  <button (click)="setForestData()">
                    <h6>Forest</h6>
                    <img class="color-scheme-img" src="././assets/forest.jpg" />
                  </button>
                </div>
                <div class="col-4">
                  <button (click)="setBeachData()">
                    <h6>Beach</h6>
                    <img class="color-scheme-img" src="././assets/beach.jpg" />
                  </button>
                </div>
                <div class="col-4">
                  <button (click)="setSeaData()">
                    <h6>Sea</h6>
                    <img class="color-scheme-img" src="././assets/sea.jpg" />
                  </button>
                </div>
              </div>
            </div>

            <div>
              <h5 class="top-banner dark-banner banner-title-01 pb-1">
                Seasons Theme Series
              </h5>
              <div class="row pt-2 pb-4">
                <div class="col-4">
                  <button (click)="setSpringData()">
                    <h6>Spring</h6>
                    <img class="color-scheme-img" src="././assets/spring.jpg" />
                  </button>
                  <button (click)="setWinterData()">
                    <h6>Winter</h6>
                    <img class="color-scheme-img" src="././assets/winter.jpg" />
                  </button>
                </div>
                <div class="col-4">
                  <button (click)="setSummerData()">
                    <h6>Summer</h6>
                    <img class="color-scheme-img" src="././assets/summer.jpg" />
                  </button>
                </div>
                <div class="col-4">
                  <button (click)="setAutumnData()">
                    <h6>Autumn</h6>
                    <img class="color-scheme-img" src="././assets/autumn.jpg" />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
