/*.container-fluid{
    padding:0
}*/

.numbers {
  padding: 3px;
  color: red;
  font-size: 1.13rem;
}

td, .notification-list {
  padding: 3px;
  font-size: 1.13rem;
}

.notification{
    width:100%;
    position: relative;
    right:14px
}
.toggle-page {
  /*    position: fixed;
    right:900px;
    top:180px;*/
  max-width: 70%
}
.toggleHide{
    display:none
}
a{
    text-decoration: none;
    color: black;
    padding: 0
}

