/*.container-fluid{
    padding:0
}*/
.action-header{
    padding-left:37px
}
.action-number {
  padding: 3px;
  color: red;
  font-size: 1.13rem;
}

td, .notification-list, .action-list {
  padding: 3px;
  font-size: 1.13rem;
  font-weight: 600
}


.toggle-page {
  /*    position: fixed;
    right:900px;
    top:180px;*/
  max-width: 70%
}
.toggleHide{
    display:none
}
a{
    text-decoration: none;
    color: black;
    padding: 0
}


/*to make boostrap table display ruby col instead of rows*/
table {
  display: table;
}
  table tr {
    display: table-cell;
  }
    table tr td {
      display: block;
    }
td:hover,
.notification-list:hover {
  background-color: transparent;
  border-radius: 10px;
  border: none;
  width: 98%
}
