.shift-right {
  margin-left: 100px
}
h1 {
  color: var(--color01);
  font-weight: 600;
  font-size: 26px;
  padding-left: 30px;
}
.top-banner {
  height: 40px;
  margin: 0px 20px;
  background: var(--color01);
  color: white;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 3px;
  border-radius: 10px;
}
.banner-title-01 {
  padding-left: 20px;
  padding-right: 0
}
