<div class="container-fluid">
  <div class="alert-message" id="resize-alert"
       [class.d-none]="close">
    Best viewed in landscape mode
    <a type="button" (click)="closePopup()">
      <i class="fa-regular fa-rectangle-xmark  close-icon"></i>
    </a>
  </div>

  <div class="app" [class.d-shift]="close">
    <a (click)="showHomepage()" type="button" class="hriq-box">
      <div class="empty-space"></div>
      <img class="hriqLogo" src="./assets/hriqLogoBlack.png" addFilter>
    </a>

    <div class="top-panel">
      <app-top-panel></app-top-panel>
    </div>

    <div class="module-panel">
      <app-module-panel class="module-icons"></app-module-panel>
    </div>

    <div class="main">
      <router-outlet></router-outlet>
    </div>

    <div class="footer-panel">
      <app-footer-quicklinks></app-footer-quicklinks>
    </div>
  </div>
</div>
