.container-fluid {
  padding: 0;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 92px 1fr 50px;
  grid-template-areas:
    "hriq top-panel"
    "module-panel body"
    "module-panel footer"
}

.empty-space{
    width: 100px;
    height: 20px;
}
.hriq-box {
  background-color: var(--color03);
  position: fixed;
  height: 93px;
  width: 100px;
  top: 0px;
  z-index: 3
}
.hriqLogo {
  position: fixed;
  top: 30px;
  left: 20px;
  height: 40px;
  z-index: 3
  /*  display: flex;
  flex-direction: column;
 
  justify-self:center;*/
  /* padding-top:20px*/
}


.top-panel {
  grid-area: top-panel;
/*  background-color: white;*/
  z-index: 3;
  position: relative;
/*  top: 10px*/
}

.module-panel {
  grid-area: module-panel;
  background-color: var(--color03);
/*  z-index:2*/
}
  .module-icons{
    text-align: center;
    }

.main {
  grid-area: body;
}
.footer-panel {
  grid-area: footer;
  align-self: end;
  background-color: white;
  z-index: 2;
}
.alert-message {
  position: fixed;
  width: 100vw;
  text-align: center;
  color: var(--color01);
  background-color: var(--color03);
  border-bottom: 3px solid white;
  letter-spacing: 1px;
  z-index: 10;
  display: block;

}

.resize-alert {
  display: none
}






@media(max-width:649px) { /*resize to portrait*/
  .main {
    padding-bottom: 120px;
    margin-top: 57px
  }

  .app {
    height: 100vh;
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 92px 1fr 50px;
    grid-template-areas:
      "hriq top-panel"
      "module-panel body"
      "module-panel footer"
  }

  .hriqLogo {
    position: fixed;
    top: 25px !important;
    left: 13px;
    height: 30px;
    z-index: 3
  }
  .hriq-box {
    width: 70px;
  }
  app-top-panel, .main, app-module-panel, .hriqLogo {
    position: relative;
    top: 20px
  }
  .d-shift {
    transform: translateY(-20px);
    transition: transform 0.5s;
  }
}
