<div class="container-fluid">
<!--  <div [ngClass]="{'rotate-screen':screenWidth<650,'resize-alert':screenWidth>650}" *ngIf="close">
    *Please rotate your screen for better viewing
    <a type="button"  (click)="closePopup()">
    <i class="fa-regular fa-rectangle-xmark  close-icon"></i>
    </a>
  </div>-->

  <!--  [class.d-none]="screenWidth<650"-->
  <div class="app">
    <a (click)="showHomepage()" type="button" class="hriq-box">
      <img class="hriqLogo" src="./assets/hriqLogoBlack.png" addFilter>
    </a>

    <div class="top-panel">
      <app-top-panel></app-top-panel>
    </div>

    <div class="module-panel">
      <app-module-panel class="module-icons"></app-module-panel>
    </div>

    <div class="main">
      <router-outlet></router-outlet>
    </div>

    <div class="footer-panel">
      <app-footer-quicklinks></app-footer-quicklinks>
    </div>
  </div>
</div>


<!--  <app-module-panel></app-module-panel>
  <app-top-panel></app-top-panel>
  <app-footer></app-footer>
-->
