.banner-title-02{
  padding-left: 40px;
  padding-right:0
}
.banner-title-03 {
  padding-left: 40px;
}
.page-links {
  padding-top: 20px;
  padding-left: 20px;
}
.texts {
  font-size: 18px;
}
button {
  width: 100%;
  text-align: left;
  background-color: transparent;
  border-radius: 10px;
  padding: 3.5px 15px;
  border: none
}
button:hover{
    color: var(--color01);
    background-color: var(--color03)
}
