<div class="shift-right mt-1">
  <h1>Learning Management System</h1>

  <div class="top-banner mt-2 d-flex align-items-center">
      <div class="col banner-title-01 span-2">
        Transactions
      </div>
      <div class="col banner-title-02 span-2">
        Reports
      </div>
      <div class="col banner-title-03 span-2">
        Settings
      </div> 
      <div class="col banner-title-04 span-2"></div>
      <div class="col banner-title-05 span-2"></div>
  </div>

  <div class="container-fluid texts">
    <div class="row">
      <div class="col page-links span-2">
        <button href="#"><div>Course administration</div></button>
        <button href="#"><div>Import training records</div></button>
        <button href="#"><div>Group nomination</div></button>
        <button href="#"><div>Feedback form maintenance</div></button>
        <button href="#"><div>LNA maintenance</div></button>
        <button href="#"><div>Re-routing of training application</div></button>
        <button href="#"><div>Course status maintenance</div></button>
        <button href="#"><div>Waitlist maintenance</div></button>
        <button href="#"><div>Course calendar enquiry</div></button>
        <button href="#"><div>Employee incentive</div></button>
        <button href="#"><div>Employee incentive letter</div></button>
      </div>

      <div class="col page-links span-2">
        <button href="#"><div>Training records by employee</div></button>
        <button href="#"><div>Training records by course</div></button>
        <button href="#"><div>Training records by competency</div></button>
        <button href="#"><div>Training feedback statistics report</div></button>
        <button href="#"><div>Training feedback form remarks</div></button>
        <button href="#"><div>Training requisition form</div></button>
        <button href="#"><div>Employees w/o training</div></button>
        <button href="#"><div>Employee list by not attend training</div></button>
        <button href="#"><div>Attendance list printing</div></button>
        <button href="#"><div>LNA courses interested</div></button>
        <button href="#"><div>Learning statistics report</div></button>
        <button href="#"><div>Training grants and claims</div></button>
        <button href="#"><div>Budget summary report</div></button>
        <button href="#"><div>Budget report</div></button>
        <button href="#"><div>Utilization report</div></button>
        <button href="#"><div>Teaching level report</div></button>
        <button href="#"><div>IDP form report</div></button>
        <button href="#"><div>Budget control setup</div></button>
        <button href="#"><div>Post course evaluation statistics report</div></button>
        <button href="#"><div>Post course evaluation form - Remarks</div></button>
        <button href="#"><div>Financial management group report</div></button>
        <button href="#"><div>CPD hours reports</div></button>
      </div>

      <div class="col page-links span-2">
        <button href="#"><div>Course</div></button>
        <button href="#"><div>Course classification</div></button>
        <button href="#"><div>Vendor</div></button>
        <button href="#"><div>Location</div></button>
        <button href="#"><div>Subsidy</div></button>
        <button href="#"><div>Bond enquiry leave code</div></button>
        <button href="#"><div>Feedback form template</div></button>
        <button href="#"><div>System parameters</div></button>
        <button href="#"><div>Setup competency</div></button>
        <button href="#"><div>Setup jobgrade</div></button>
        <button href="#"><div>Setup jobgrade template</div></button>
        <button routerLink="/lna-content"><div>Setup learning needs</div></button>
        <button href="#"><div>Jobgrade matrix</div></button>
        <button href="#"><div>Budget group setup</div></button>
        <button href="#"><div>Budget control setup</div></button>
        <button href="#"><div>Manage budget</div></button>
        <button href="#"><div>Training access rights</div></button>
        <button href="#"><div>Teaching level</div></button>
        <button href="#"><div>Setup absent remarks</div></button>
        <button href="#"><div>Setup course expenses</div></button>
        <button href="#"><div>Quizzes</div></button>
        <button href="#"><div>Points scheme</div></button>
      </div>

      <div class="col page-links span-2">
        <button href="#"><div>Course schedule points setup</div></button>
        <button href="#"><div>CPD hours target master</div></button>
        <button href="#"><div>Centre access grouping</div></button>
        <button href="#"><div>Set maximum courses</div></button>
        <button href="#"><div>Set bond enquiry leave code</div></button>
        <button href="#"><div>Currency</div></button>
        <button href="#"><div>Currency rate</div></button>
      </div>
      <div class="col page-links span-2">
      </div>
    </div>
  </div>




</div>
