<h6>Enter your credentials to access our account</h6>

<form [formGroup]="loginForm">
  <div class="form-group mb-0">
    <input formControlName="userID"
           type="text"
           class="form-control inputID ps-3 mt-3"
           placeholder="Enter your User ID" />
    <small class="red error-message01" [class.d-none]="userID.valid || userID.untouched">Please fill in your userID</small>
  </div>
</form>
<form [formGroup]="loginForm">
  <div class="form-group mb-0">
    <div class="input-container">
      <input formControlName="password"
             [type]="showPassword ? 'text':'password'"
             class="form-control inputPassword ps-3"
             placeholder="Enter your password" />
      <small class="red error-message02" [class.d-none]="password.valid || password.untouched">Please fill in your password</small>

            <a type="button"
           (click)="showPassword=!showPassword"
           [class.d-none]="showPassword">
          <i alt="hide" class="password-eye fa-regular fa-eye-slash"></i>
        </a>
        <a type="button"
           (click)="showPassword=!showPassword"
           [class.d-none]="!showPassword">
          <i alt="show" class="password-eye fa-regular fa-eye"></i>
        </a>
    </div>
  </div>
</form>

<button mat-raised-button
        class="dark sign-in-btn"
        routerLink="/homepage-login">
  Sign In
</button>

<div class="password pt-4">
  Forgot your password?
  <a routerLink="login/reset-password" class="reset-password" href="#"> Reset Password</a>
</div>
