/*With Random Background*/
.container-fluid {
  height: 100vh;
  padding: 0;
  background-image: url("https://picsum.photos/1920/1080?");
  background-size: cover;
  background-color: black
}
.hriqLogo {
  position:relative;
  left:15px;
  bottom:20px;
  width: 55px
}
.card-overlay {
  background: rgba(0, 0, 0, 0.5);
  height:100vh
}
.container {
  display: flex;
  justify-content: end;
  position:relative;
  top:220px;
  margin-right:200px;
}
.justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 500px;
  width: 700px;
  padding: 0pc 20px;
  background-color: var(--color03);
  border-radius: 15px;
  /* position: absolute;
  right:180px;
  top:180px*/
}

.client-logo {
  display: flex;
  align-items: center;
  width: 400px;
  position:relative;
  right:150px;
}

input {
  color: black;
  border: 1px solid var(--color04);
}
input::placeholder{
  color: var(--color01);
  opacity: 50%;
}
.form-control:focus {
  color: var(--color01);
  border-color: var(--color04);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px var(--color04);
}

.sign-in-btn, input {
  border-radius: 10px;
  height: 45px;
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 25px
}

.sign-in-btn {
  background-color: var(--color01);
  letter-spacing:1px
}

button {
  color: white
}

.sign-in-btn:hover {
  color: var(--color03)
}

form {
}

h6, .reset-password {
  color: var(--color01)
}

.password {
  color: var(--colorGrey)
}




/*Without Random Background*/
/*.container-fluid {
  height: 100vh;
   background-color: var(--color03);
}
.hriqLogo {
  position: fixed;
  top: 0px;
  margin: 20px 10px;
  height: 44px;
  color: var(--color04)
}
.justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:110px;
}
input {
  border-color: var(--color04);
}
.sign-in-btn, input {
  border-radius: 10px;
  height: 45px;
  width: 33%;
  display: block;
  margin: 0 auto;
  margin-top: 25px
}
.sign-in-btn {
  background-color: var(--color01);
}
button {
  color: white
}
.sign-in-btn:hover {
  color: var(--color04)
}
form {
}
h6 {
  color: var(--color01)
}
.password {
  color: var(--colorGrey)
}
*/
