<!--With Random Background-->
<div class="container-fluid">
  <div class="card-overlay">
    <div class="container">
  <div class="client-logo">
    <img class="client-logo" src="./assets/clientLogoLogin.png">
  </div>
  <div class="justify-center">
    <div class="hriqLogo">
        <img src="./assets/hriqLogoBlack.png" addFilter>
    </div>
    <h1 class="mb-2"> Welcome Back</h1>
    <h6>Enter your credentials to access our account</h6>

    <form>
      <input type="text"
             class="form-control ps-3"
             placeholder="Enter your User ID" />
    </form>
    <form>
      <input type="text"
             class="form-control ps-3"
             placeholder="Enter your password" />
    </form>

    <button type="button" class="btn btn-warnning sign-in-btn"
            routerLink="/homepage-login">
      Sign In
    </button>

    <div class="password pt-4 pb-4">
      Forgot your password?
      <a class="reset-password" href="#"> Reset Password</a>
    </div>
  </div>
  </div>
  </div>
</div>




<!--Without random Backgound-->
<!--<div class="container-fluid">
  <img class="hriqLogo" src="./assets/hriqLogoBlue.png">

    <div class="justify-center">
      <div class="client-logo">
        <img class="client-logo" src="./assets/clientLogoLogin.png">
      </div>
      <h1 class="pt-4"> Welcome Back</h1>
      <h6>Enter your credentials to access our account</h6>

      <form>
        <input type="text"
               placeholder="Enter your User ID" />
      </form>
      <form>
        <input type="text"
               placeholder="Enter your password" />
      </form>

      <button type="button" class="btn btn-warnning sign-in-btn"
              routerLink="/homepage-login">
        Sign In
      </button>

      <div class="password pt-4">Forgot your password?   <a href="#"> Reset Password</a></div>
    </div>
</div>-->
