.modal {
  --bs-modal-width: 80%;
}
.modal-header, .modal-footer {
  border: none;
}
.modal-body {
    height:600px;
}
.dot {
  color: var(--color01);
}
button.header {
  color: var(--color01);
  font-weight: 600;
}
button {
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  padding: 3.5px 15px;
  border: none
}
  button:hover, .isSelected {
    color: var(--color01);
    background-color: var(--color03)
  }
  .hide{
      display: none
  }
.color-scheme-img {
 width: 200px
}
h5{
    font-weight:normal;
    font-size:1.1rem
}


.body-align{
    padding:0px 20px
}
/*button input encapsulation.css not working. repeat css codes*/
.button-03 {
  border-radius: 10px;
  border: 1px solid var(--color02);
  color: var(--color01);
  font-weight: 600;
}
.shift-body-up{
    padding-top:0
}




:host-content(app-root.theme) .change-blue-btn {
  background-color: blue;
  --color01: #ff6a00;
  --color02: #c8e2fb;
  --color03: #eaf4ff;
  --color04: #b5caf0;
  --colorGrey: #a2a2a2
}
:host-content(app-root.theme) .change-green-btn {
  background-color: green;
  --color01: #056770;
  --color02: #bde3d9;
  --color03: #ebf5ec;
  --color04: #aeddd1;
  --colorGrey: #a2a2a2
}
