
.modal {
  --bs-modal-width: 80%;
}

.modal-header, .modal-footer {
  border: none;
}

.modal-body {
    height:600px;

}

.dot {
  color: var(--color01);
}

button.header {
  color: var(--color01);
  font-weight: 600;
}

button {
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  padding: 3.5px 15px;
  border: none
}

  button:hover, .isSelected {
    color: var(--color01);
    background-color: var(--color03)
  }

  .hide{
      display: none
  }

.color-scheme-img {
 width: 200px

}
h5{
    font-weight:normal;
    font-size:1.1rem
}
