:host {
  --color01: #00377d;
  --color02: #c8e2fb;
  --color03: #eaf4ff;
  --color04: #b5caf0;
  --colorGrey: #a2a2a2
}

*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*@font-face{
    font-family: 'Trebuchet MS';
    src: url('../assets/fonts/trebuc.ttf')
}*/

.app{
    display: grid;
  /*  width: 1920px;
    height: 1080px;*/
    grid-template-columns:100px 1fr;
    grid-template-rows: 92px 1fr 50px;
}
.top-panel{
    grid-column:2/3;
    grid-row:1/2;
}
.module-panel{
    grid-column:1/2;
    grid-row:1/-1;
}
.footer-panel {
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: end
}
.main {
  grid-column: 2/3;
  grid-row: 2/3;
}
