:host {
  --color01: #00377d;
  --color02: #c8e2fb;
  --color03: #eaf4ff;
  --color04: #b5caf0;
  --colorGrey: #a2a2a2
}

.green-theme {
  --color01: #056770;
  --color02: #bde3d9;
  --color03: #ebf5ec;
  --color04: #aeddd1;
  --colorGrey: #a2a2a2
}
.red-theme {
  --color01: #c91700;
  --color02: #f5d4d7;
  --color03: #faf0f0;
  --color04: #ffbdbd;
  --colorGrey: #a2a2a2
}

button {
  background-color: var(--color01);
  color: var(--color02);
}

*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*@font-face{
    font-family: 'Trebuchet MS';
    src: url('../assets/fonts/trebuc.ttf')
}*/

/*:host-context(app-root.blue-theme).btn{
    background-color: blue;
    color:aqua;
    font-weight:bold
}

*/
