<div class="shift-right">
  <div class="banner d-flex align-items-center">
    MY LEARNING NEEDS ANALYSIS 2023
  </div>

  <p class="ms-3 mt-2 mb-0">
    <a class="hide-profile" href="#" data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      - Hide/Show Profile
    </a>
  </p>
  <div class="collapse ms-3" id="collapseExample">
    <div class="card card-body">
      <div class="row">
        <div class="col-1">
          <img class="profile-square" src="./assets/profile-square.png" />
        </div>
        <div class="col-2 profile-detail">
          <div class="detail">
            <strong>Employee name:</strong> Jesicca Wong
          </div>
          <div class="detail">
            <strong>Company:</strong> Admin Office SG
          </div>
          <div class="detail">
            <strong>Department:</strong> MGMT
          </div>
        </div>
        <div class="col-2 profile-detail">
          <div class="detail">
            <strong>Employee ID:</strong> SG0001
          </div>
          <div class="detail">
            <strong>Designation:</strong> Internal Auditor
          </div>
          <div class="detail">
            <strong>Employee Type:</strong> Full Time
          </div>
        </div>
        <div class="col-2 profile-detail">
          <div class="detail">
            <strong>Created on:</strong> 6-Feb-2023
          </div>
        </div>
      </div>



    </div>
  </div>




</div>
