.banner {
  height: 40px;
  background: var(--color01);
  color:white;
  padding-left:20px;
  font-size: 23px;
  font-weight: 600;
  letter-spacing:3px;
}
.card {
  border-color:white;
  padding: 5px
}
.hide-profile{
 font-style:italic;
 text-decoration:none;
 color: var(--color01);
}
.profile-square{
    width:116px
}
.profile-detail{
    font-size:18px;
    padding-top:10px
}
.detail{
    padding-bottom:5px
}
