<div class="d-flex justify-content-center">
  <div class="line">
    <img class="img-fluid" src="./assets/iconsMenu/line.png" />
  </div>
</div>

<br />
<div class="row">
  <div class="col-2">
    <div class="d-flex justify-content-center">
      <img src="./assets/iconsMenu/global.png" />
    </div>
    <h5 class="text-center pt-2"><strong>Global</strong></h5>
    <br />
    <button class="selection"
            (click)="onSelect(globals)"
            *ngFor='let globals of global'>
      {{globals.name}}
    </button>
  </div>

  <div class="col-2">
    <div class="d-flex justify-content-center">
      <img src="./assets/iconsMenu/course.png" />
    </div>
    <h5 class="text-center pt-2"><strong>Course</strong></h5>
    <br />
    <button class="selection"
            (click)="onSelect(courses)"
            *ngFor='let courses of course'>
      {{courses.name}}
    </button>
  </div>

  <div class="col-2">
    <div class="d-flex justify-content-center">
      <img src="./assets/iconsMenu/competency.png" />
    </div>
    <h5 class="text-center pt-2"><strong>Competency</strong></h5>
    <br />
    <button class="selection"
            (click)="onSelect(competencies)"
            [class.selected]="isSelected(competencies)"
            data-bs-dismiss="modal"
            *ngFor='let competencies of competency'>
      {{competencies.name}}
    </button>
  </div>


  <div class="col-2">
    <div class="d-flex justify-content-center">
      <img src="./assets/iconsMenu/currency.png" />
    </div>
    <h5 class="text-center pt-2"><strong>Currency</strong></h5>
    <br />
    <button class="selection"
            (click)="onSelect(currencies)"
            *ngFor='let currencies of currency'>
      {{currencies.name}}
    </button>
  </div>

  <div class="col-2">
    <div class="d-flex justify-content-center">
      <img src="./assets/iconsMenu/budget.png" />
    </div>
    <h5 class="text-center  pt-2"><strong>Budget</strong></h5>
    <br />
    <button class="selection"
            (click)="onSelect(budgets)"
            *ngFor='let budgets of budget'>
      {{budgets.name}}
    </button>
  </div>

  <div class="col-2">
    <div class="d-flex justify-content-center">
      <img src="./assets/iconsMenu/accessControls.png" />
    </div>
    <h5 class="text-center pt-2"><strong>Access Controls</strong></h5>
    <br />
    <button class="selection"
            (click)="onSelect(accesses)"
            *ngFor='let accesses of access'>
      {{accesses.name}}
    </button>
  </div>
</div>
