.line {
  position: absolute;
  top: 118px
}

.selection {
  display: block;
  margin: 0 auto;
}

button {
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  padding: 3.5px 15px;
  border: none
}

h5 {
  margin: 0
}



/*class menu-icon and white-circle input encapsulation*/
