  <div class="shift-right mt-1">
    <h1>Welcome back, Jesicca</h1>

    <div class="top-banner dark-banner mt-2">
      <div class="col-8 banner-title-01">
        Dashboard
      </div>
      <div class="col-4 banner-title-01">
        Action Box
      </div>
    </div>

    <div class="top-banner dark-banner second-banner ms-auto">
      <div class="col banner-title-01">
        Notifications
      </div>
    </div>

    <table class="table table-borderless mt-3">
      <tbody>
        <tr>
          <th class="numbers" scope="row">3</th>
          <td>Pending approval HR employee data changes</td>
        </tr>
        <tr>
          <th class="numbers" scope="row">1</th>
          <td>Moderation</td>
        </tr>
        <tr>
          <th class="numbers" scope="row">10</th>
          <td>HR alerts</td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <table class="table table-borderless col align-self-center notifications mt-3 ">
        <tbody>
          <tr>
            <!--    <th class="numbers" scope="row">3</th>-->
            <td>Your leave has been approved</td>
          </tr>
          <tr>
            <!--   <th class="numbers" scope="row">1</th>-->
            <td>Reminder to submit your appraisal</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mt-4">
      <img class="dashboard" src="./assets/dashboard.png" />
    </div>


