.padding{
    padding-top:3px;
    padding-bottom:3px;
    padding-left:27px
}
hr{
    margin:0px 16px;
    opacity:10%;
}
h6{
    font-weight:600;
    color: var(--color01);
    text-decoration: underline;
}

kendo-dropdownlist {
  width:53px;
  font-size:1rem
}
  kendo-dropdownlist.long {
    width: 250px;
  }
  .days-padding {
    margin-left: 73px;
  }
/*  .day-padding {
    margin-left: 25px;
  }*/
.day-padding, .week-padding, .month-padding {
  margin-left: 15px;
}
.col-2 {
  padding-right: 0px;
}
.letter-spacing{
    letter-spacing:1.5px
}

.period {
  font-weight: 100;
  /*    font-style:italic;*/
  font-size: 1rem;
  padding-right:15px;
}
.small{
    font-size: 0.8rem;
    align-self: center;
}
.row{
    margin:0
}

.add-padding{
    padding-right:10px;
}
.period-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

