.padding{
    padding-top:3px;
    padding-bottom:3px;
    padding-left:27px
}
hr{
    margin:0px 16px;
    opacity:10%;
}
h6{
    font-weight:600;
    color: var(--color01);
    text-decoration: underline;
}

kendo-dropdownlist {
  width:53px;
  font-size:1rem
}
  kendo-dropdownlist.long {
    width: 250px;
  }
  .day-padding {
    margin-left: 25px;
  }
  .days-padding {
    margin-left: 73px;
  }
.week-padding, .month-padding {
  margin-left: 15px;
}
.letter-spacing{
    letter-spacing:1.5px
}

.period {
  font-weight: 100;
  /*    font-style:italic;*/
  font-size: 1rem;
}
