.headerCustomClass {
  color: var(--color02-if-white);
  font-weight: bolder;
  /*  justify-content:center*/
}

.lnaGrid {
  padding: 0px 30px;
 /* padding-top: 220px;*/
}

kendo-textbox {
  display: none
}

.k-grid{
/*   z-index:-2
*/
}

.k-table-alt-row,
.k-grid .k-table-row.k-table-alt-row,
.rowCustomClass {
  background-color: none
}
.k-button-md.k-icon-button {
  display: none /*remove grid filter operators*/
}


.card {
  padding: 0;
  border-color: transparent;
  /* z-index:-1;*/
}

.hide-profile {
  font-style: italic;
  text-decoration: none;
  color: var(--color01);
  position: relative;
/*  z-index: 1*/
}

.profile-square {
  width: 116px;
  margin-left: 30px;
  width: 90%
}

.profile-detail {
  /*font-size: 1.13rem;*/
 /* margin-left: 40px;*/
  margin-top: 10px
}

.detail {
  padding-bottom: 5px;
  padding-left: 25px;
}

.profile-detail {
  padding-left: 37px
}


table {
  border-color: var(--color04);
}


.header {
  color: var(--color01);
  background-color: var(--color02);
}

.remark {
  border-top: hidden;
  margin-top: 100px
}

.remark-padding {
  padding-top: 0
}

.training-plan {
  font-weight: 600;
  color: var(--color01);
  background-color: #ebebeb;
  border-radius: 17px;
/*  border: 1px solid rgb(0, 0, 128, 0.1);*/
/*  border: 2px solid white;*/
  border: none;
  border-opacity: 50%;
  padding: 0px 0px 0px 10px
}
/*.training-plan:hover{
  background-color: white;
}*/

.rounded-pill {
  background-color: var(--color04);
  border-color: var(--color03);
  color: var(--color04-if-white);
  font-weight: 600;
  font-size: 0.94rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center
}

.text-center {
  text-align: center;
}

.summary {
  color: var(--color01);
  font-weight: 600;
  position: relative;
  left:217px
}

.ao {
  position: fixed;
  bottom:45px;
  background-color: white;
  width: 100vw;
  height: 40px;
  padding-top: 7px;
  z-index:1
}

.row {
  width:100%
}


.height-max {
 height: 69vh;
}
.height-min {
  height:53vh;
}

.padding-max {
  padding-top: 76px;
}
.padding-min {
  padding-top: 220px;
}
.lnaGrid{
    padding-bottom: 30px
}
  .negative-red{
    color: red;
}
.position{
    position:fixed;
}
.body {
  overflow: hidden;
}

