<!--<div class="container-fluid p-0">-->
<div class="banner d-flex align-items-center">
  MY LEARNING NEEDS ANALYSIS 2023
</div>

<span class="action-icons">
  <a href="/"
     tooltipClass="tooltipclass"
     placement="bottom"
     ngbTooltip="Add page to Quicklinks"
     [openDelay]=1000
     (click)="quicklink($event)"
     class="pe-2 ps-2 ms-1 me-1">
    <!--    <img class="ps-2 pe-2"src="./assets/iconsOthers2px/pin01.svg" />-->
    <span class="k-icon k-i-star-outline"></span>
  </a>

  <a href="#"
     tooltipClass="tooltipclass"
     placement="bottom"
     ngbTooltip="Save"
     [openDelay]=1000
     class="pe-2 ps-2 ms-1 me-1 ">
    <!--      <img src="./assets/iconsOthers2px/save-01.svg" />-->
    <span class="k-icon k-i-save"></span>
  </a>

  <a href="#"
     tooltipClass="tooltipclass"
     placement="bottom"
     ngbTooltip="Submit"
     [openDelay]=1000
     (click)="send($event)"
     class="action-submit pe-2 ps-2 ms-1 me-1">
     <img src="./assets/iconsOthers2px/send-01.svg" />
    <!--    <span class="k-icon k-i-hyperlink-open"></span>-->
  </a>
</span>



<div class="body">
  <div class="position">
    <div class="progress loading-bar" role="progressbar" aria-label="Basic example" aria-valuenow="75"
         aria-valuemin="0" aria-valuemax="100" style="height: 5px ; background-color: white">
      <div class="progress-bar" style="width: 75%; "></div>
    </div>

    <div class="pt-2">
      <span>
        <a class="hide-profile ms-3 ps-3"
           data-bs-toggle="collapse"
           href="#collapseExample"
           aria-controls="collapseExample"
           aria-expanded="true"
           (click)="textShow=!textShow">
          - Hide/Show Profile
        </a>
      </span>
      <span class="profile-detail col-3" *ngIf="textShow"><strong>Name: Jesicca Wong SG0001</strong> </span>
      <span class="profile-detail col-3" *ngIf="textShow"><strong>Company: Admin Office SG</strong> </span>
      <span class="profile-detail col-3" *ngIf="textShow"><strong>Created on: 6-Feb-2023</strong> </span>

      <div class="collapse show" id="collapseExample">
        <div class="card card-body">
          <div class="row">
            <div class="col-1">
              <img class="profile-square" src="./assets/profile-square.png" />
            </div>

            <div class="col-2 profile-detail">
              <div class="detail"><strong>Name:</strong> Jesicca Wong SG0001</div>
              <div class="detail"><strong>Department:</strong> MGMT</div>
              <div class="detail"><strong>Optional Field:</strong> Field Details</div>
            </div>
            <div class="col-3 ps-5 ms-5 profile-detail">
              <div class="detail"><strong>Company:</strong> Admin Office SG</div>
              <div class="detail"><strong>Designation:</strong> Internal Auditor</div>
              <div class="detail"><strong>Optional Field:</strong> Field Details</div>
            </div>
            <div class="col-3 profile-detail">
              <div class="detail"><strong>Created on:</strong> 6-Feb-2023</div>
              <div class="detail"><strong>Employee Type:</strong> Full Time</div>
              <div class="detail"><strong>Optional Field:</strong> Field Details</div>
            </div>
          </div>
        </div>
      </div>


      <div class="lna-details d-flex ps-4 ms-2 mt-1 mb-1">
        <!--Checkboxes to hide columns-->
        <div class="d-flex justify-content-start ">
          <div *ngFor="let column of columns" class=" pe-3">
            <input type="checkbox"
                   id="{{ column }}"
                   kendoCheckBox
                   [disabled]="isDisabled(column)"
                   [checked]="!isHidden(column)"
                   (change)="hideColumn(column)" />
            <label class="k-checkbox-label ps-1" for="{{ column }}">{{ column }}</label>
          </div>
        </div>
        <a href="#" class="summary">Summary of courses & budget</a>
      </div>
    </div>
  </div>

  <div class="lnaGrid"
       [class.padding-max]="textShow"
       [class.padding-min]="!textShow">
    <kendo-grid #grid
                [kendoGridBinding]="gridData"
                [filterable]="false"
                [class.height-max]="textShow"
                [class.height-min]="!textShow"
                [sortable]="true"
                [resizable]="true"
                [filterable]="true">
      <!--scrollable="none"-->
      <!--SN-->
      <kendo-grid-column field="SN" title="#"
                         [filterable]="false"
                         [resizable]="false" [width]=39
                         [headerStyle]="{ 'background-color': 'var(--color02)', 'font-weight' : 'bold' }"
                         [headerClass]="'headerCustomClass'"
                         *ngIf="!isHidden('SN')">
      </kendo-grid-column>

      <!--Competency Type-->
      <kendo-grid-column field="CompetencyType" title="Competency Type"
                         [headerStyle]="{ 'background-color': 'var(--color02)', 'font-weight' : 'bold' }"
                         [headerClass]="'headerCustomClass'"
                         [width]=157
                         [minResizableWidth]="100"
                         *ngIf="!isHidden('Competency Type')">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <kendo-grid-string-filter-cell [showOperators]="false"
                                         [column]="column">
          </kendo-grid-string-filter-cell>
        </ng-template>
      </kendo-grid-column>

      <!--Skills-->
      <kendo-grid-column field="Skills" title="Skills"
                         [headerStyle]="{ 'background-color': 'var(--color02)', 'font-weight' : 'bold' }"
                         [headerClass]="'headerCustomClass'"
                         [width]="350"
                         [minResizableWidth]="300"
                         *ngIf="!isHidden('Skills')"
                         [filterable]="false">
      </kendo-grid-column>

      <!--Attachments-->
      <kendo-grid-column field="Attachment" title=""
                         [filterable]="false"
                         [headerStyle]="{ 'background-color': 'var(--color02)', 'font-weight' : 'bold' }"
                         [headerClass]="'headerCustomClass'"
                         [resizable]="false" [width]=48
                         *ngIf="!isHidden('Attachment')">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <a type="button"><span *ngIf='dataItem.Attachment===true' class="k-icon color01 k-i-attachment-45"></span></a>
        </ng-template>
      </kendo-grid-column>

      <!--Current Rate-->
      <kendo-grid-column field="CurrentRate" title="Current Rate"
                         [headerStyle]="{ 'background-color': 'var(--color02)', 'font-weight' : 'bold' }"
                         [headerClass]="'headerCustomClass'"
                         [width]="123"
                         [minResizableWidth]="50"
                         *ngIf="!isHidden('Current Rate')"
                         filter="numeric">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <kendo-grid-numeric-filter-cell [column]="column"
                                          [filter]="filter"
                                          >
          </kendo-grid-numeric-filter-cell>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          {{dataItem.CurrentRate}}/{{dataItem.FullRate}}
        </ng-template>
      </kendo-grid-column>

      <!-- Required Rate-->
      <kendo-grid-column field="RequiredRate" title="Required Rate"
                         [headerStyle]="{ 'background-color': 'var(--color02)', 'font-weight' : 'bold' }"
                         [headerClass]="'headerCustomClass'"
                         [width]="133"
                         [minResizableWidth]="50"
                         *ngIf="!isHidden('Required Rate')"
                         filter="numeric">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{dataItem.RequiredRate}}/{{dataItem.FullRate}}
        </ng-template>
      </kendo-grid-column>

      <!--Gap-->
      <kendo-grid-column field="Gap" title="Gap" #gap
                         [headerStyle]="{ 'background-color': 'var(--color02)', 'font-weight' : 'bold' }"
                         [headerClass]="'headerCustomClass'"
                         [width]="59"
                         [minResizableWidth]="40"
                         *ngIf="!isHidden('Gap')"
                         filter="numeric">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div [class.negative-red]="dataItem.Gap < 0 ">{{dataItem.Gap}}</div>
        </ng-template>
      </kendo-grid-column>


      <!--  Piority-->
      <kendo-grid-column field="Piority" title="Piority"
                         [width]=88 [resizable]="false"
                         [headerStyle]="{ 'background-color': 'var(--color02)', 'font-weight' : 'bold' }"
                         [headerClass]="'headerCustomClass'"
                         *ngIf="!isHidden('Piority')"
                         [filterable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
          <kendo-label class="k-form">
            <kendo-numerictextbox [value]="dataItem.Piority"
                                  [min]="0"
                                  [max]="100"
                                  [autoCorrect]="autoCorrect"
                                  [format]="'#'">

            </kendo-numerictextbox>
          </kendo-label>
        </ng-template>
      </kendo-grid-column>

      <!--Courses Interested-->
      <kendo-grid-column field="PlanNo" title="Courses Interested"
                         [headerStyle]="{ 'background-color': 'var(--color02)', 'font-weight' : 'bold' }"
                         [headerClass]="'headerCustomClass'"
                         [width]="178"
                         [resizable]="false"
                         [minResizableWidth]="40"
                         *ngIf="!isHidden('Courses Interested')"
                         filter="numeric">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button mat-flat-button class="training-plan" (click)="coursesInterested()" routerLink="/courses-interested">
            My Training Plan
            <button class="btn btn-sm btn-secondary rounded-pill" style="width:2rem; height:2rem" field="PlanNo">{{dataItem.PlanNo}}</button>
          </button>
        </ng-template>
      </kendo-grid-column>

      <!--Hours-->
      <kendo-grid-column field="TotalHours" title="Hours"
                         [headerStyle]="{ 'background-color': 'var(--color02)', 'font-weight' : 'bold' }"
                         [headerClass]="'headerCustomClass'"
                         [width]="73"
                         [minResizableWidth]="40"
                         *ngIf="!isHidden('Hours')"
                         filter="numeric">
        <!--        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
              <kendo-grid-string-filter-cell [showOperators]="false"
                                             [column]="column"
                                             [spinners]="true"
                                             >
              </kendo-grid-string-filter-cell>
            </ng-template>-->
      </kendo-grid-column>

      <!--Budget-->
      <kendo-grid-column field="TotalBudget" title="Budget" class="filter-operator-hide"
                         [headerStyle]="{ 'background-color': 'var(--color02)', 'font-weight' : 'bold' }"
                         [headerClass]="'headerCustomClass'"
                         [width]="81"
                         [minResizableWidth]="65"
                         *ngIf="!isHidden('Budget')">
      </kendo-grid-column>

      <!--Remarks-->
      <kendo-grid-column field="Remarks" title="Remarks"
                         [headerStyle]="{ 'background-color': 'var(--color02)', 'font-weight' : 'bold' }"
                         [headerClass]="'headerCustomClass'"
                         [width]=240
                         *ngIf="!isHidden('Remarks')"
                         [filterable]="false"></kendo-grid-column>
    </kendo-grid>

    <div class="ao">
      <strong>
        <span>Approvers</span>
        <button mat-flat-button class="ms-3">Approving Officer 1</button>
        <button mat-flat-button class="ms-3">Approving Officer 2</button>
      </strong>
    </div>
  </div>

</div>
<!--</div>-->
